@page "/departments"
@using Client.Protos
@using Client.Services.Abstractions
@using Client.Pages.DepartmentPage.Components
@using Client.Pages.Shared.Components
@inject GrpcChannel Channel
@inject IDepartmentService _departmentService;
@inject IHistoryService _historyService;
@inject IEmployeeService _employeeService;


<PageTitle>Departments</PageTitle>
<div class="container p-1">
    @if (_departmentsTree is null)
    {
        <p>
            <iconify-icon icon="bx:loader-circle" class="loader"></iconify-icon>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div class="row shadow-sm pb-1 mb-2">
            <DepartmentCreate Departments="_departmentsOptionList"
                              OnCreateDepartment="CreateDepartment" />
        </div>
        <div class="row shadow-sm mb-2">
            <div class="col-auto">
                <h3 class="mt-2">Departments</h3>
                @foreach (var department in _departmentsTree)
                {
                    <DepartmentNode Node=@department
                                    OnSelectedChanged="SelectedDepartmentChanged"
                                    OnDeleteSelected="DeleteDepartment" />
                }
            </div>
            <div class="col">
                <DepartmentEdit Department="_selectedDepartment"
                                Departments="_departmentsOptionFilteredList"
                                OnTitleChanged="SelectedDepartmentTitleChanged"
                                OnParentChanged="SelectedDepartmentParentChanged" />
            </div>
        </div>
        <div class="row shadow-sm mb-2">
            <DepartmentHistory Department="_selectedDepartment"
                               Employees="_employees"
                               Histories="_history" />
        </div>

    }
</div>
<ErrorComponent Error=@_error />


