.loader {
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


.table-fixed {
    min-width: 410px;
}

    .table-fixed thead {
        width: 100%;
    }

        .table-fixed thead tr:nth-child(3) {
            min-width: 20px;
        }

        .table-fixed tbody {
            max-height: 200px;
            overflow-y: auto;
            width: 100%;
        }

    .table-fixed thead, .table-fixed tbody, .table-fixed tr {
        display: block;
    }


        .table-fixed thead th {
            border-bottom: 2px solid #333;
            text-align: center;
        }

        .table-fixed tbody tr:nth-child(2n) td {
            background-color: #eee;
        }

        .table-fixed tbody td:nth-child(1), .table-fixed thead th:nth-child(1) {
            width: 200px;
            text-align: start;
        }

        .table-fixed tbody td:nth-child(2), .table-fixed thead th:nth-child(2) {
            width: 200px;
            text-align: start;
        }

        .table-fixed tbody td:nth-child(3), .table-fixed thead th:nth-child(3) {
            width: 30px;
            text-align: center;
            text-align:start;
        }

.remove {
    color: #ccc;
}

    .remove:hover {
        animation-name: btn-remove-color-animation;
        animation-duration: 500ms;
        color: red;
    }

@keyframes btn-remove-color-animation {
    from {
        color: #ccc;
    }

    to {
        color: red;
    }
}
