@page "/"

<PageTitle>Main page</PageTitle>

<div>
    <div class="">
        <a class="" href="employees">
            Employees
        </a>
    </div>
    <div class="">
        <a class="" href="departments">
            Departments
        </a>
    </div>

</div>


