<div class="col">
    <input class="form-control" type="text" @bind-value=_department.Title placeholder="Title" />
</div>
<div class="col">
    <select class="form-control" @bind=_department.ParentId>
        <option value="">parent not selected</option>
        @if (Departments is not null)
        {
            @foreach (var item in Departments)
            {
                <option value="@item.Id">@item.Title</option>
            }
        }
    </select>
</div>
<div class="col-auto">
    <button class="btn btn-primary" @onclick="CreateHandler" disabled="@IsDisabled">Create</button>
</div>
