<div class="pop-container">
    @if (IsShow)
    {
        <div class="popconfirm">
            @Message
            <button type="button" class="btn btn-warning" @onclick="() => Confirmation(false)">No</button>
            <button type="button" class="btn btn-danger" @onclick="() => Confirmation(true)">Yes</button>
        </div>
    }
</div>

