@inject GrpcChannel Channel
@inject IDepartmentService _departmentService;
@inject IHistoryService _historyService;
@inject IEmployeeService _employeeService;


<div class="container p-1">
    @if (_departmentsTree is null)
    {
        <p>
            <iconify-icon icon="bx:loader-circle" class="loader"></iconify-icon>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div class="container shadow-sm border rounded p-3 mb-4">
            <DepartmentCreate Departments="_departmentsOptionList"
                              OnCreateDepartment="CreateDepartment" />
        </div>
        <div class="container shadow-sm border rounded p-3 mb-4">
            <div class="row">
                <div class="col-auto">
                    <h3>Departments</h3>
                    @foreach (var department in _departmentsTree)
                    {
                        <DepartmentNode Node=@department
                                        OnSelectedChanged="SelectedDepartmentChanged"
                                        OnDeleteSelected="DeleteDepartment" />
                    }
                </div>
                <div class="col">
                    <DepartmentEdit Department="_selectedDepartment"
                                    Departments="_departmentsOptionFilteredList"
                                    OnTitleChanged="SelectedDepartmentTitleChanged"
                                    OnParentChanged="SelectedDepartmentParentChanged" />
                </div>
            </div>
        </div>
        <EmployeeComponent 
            Departments="_departmentsOptionList" 
            Employees="_employees"
            SelectedDepartment="_selectedDepartment"/>

    }
</div>
<ErrorComponent Error=@_error />


